@import 'tailwindcss';

@font-face {
    font-family: 'Host Grotesk';
    src: url('/fonts/host-grotesk-regular-latin-ext.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range:
        U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Host Grotesk';
    src: url('/fonts/host-grotesk-regular-latin.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074-207E, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/dm-sans-variable-latin-ext.woff2') format('woff2');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
    unicode-range:
        U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/dm-sans-variable-latin.woff2') format('woff2');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074-207E, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@theme {
    --color-brand-red: #f44336;
    --color-brand-red-hover: #e53935;
    --color-brand-black: #000000;
    --color-brand-text-muted: #d4d4d4;
    --color-brand-input-bg: #bbbbbb26;
    --color-brand-input-border: #8888881a;
    --color-brand-input-focus: #fc6d6299;
    --font-family-heading: 'Host Grotesk', sans-serif;
    --font-family-body: 'DM Sans', sans-serif;
}

@layer base {
    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overscroll-behavior: none;
    }

    body {
        font-family: var(--font-family-body);
        color: white;
        background-color: var(--color-brand-black);
        margin: 0;
        padding: 0;
    }
}
