# Generals
PORT =
HOST =
ORIGINS =
ENV =

# Mongo
MONGO_CLUSTER =
MONGO_DB_NAME =
MONGO_DB_PASSWORD =
MONGO_DB_ADMIN =

# JSON Web Token
AUTH_REFRESH_TOKEN_SECRET =
AUTH_ACCESS_TOKEN_SECRET =

# Cloudflare
CLOUDFLARE_TOKEN_VALUE =
CLOUDFLARE_ACCESS_KEY_ID =
CLOUDFLARE_SECRET_ACCESS_KEY =
CLOUDFLARE_S3_EU_ENDPOINT =

# Sent
SENT_API_KEY =
SENT_TEMPLATE_ID =

# Resend
RESEND_API_KEY =
RESEND_SEGMENT_ID =